

:root {
    --primary-color: #DADDB1;
 
}

* {
    font-family: 'Clash Display', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 35px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    line-height: 1.6;
    background-color: var(--primary-color);
}

.navbar {
display: flex;
justify-self: center;
align-items: center;

    
}


.logo{
    font-size: 20px;
    margin-left: 20px;
}

.navlogo{
    height: 15px;
    margin-left:auto;
}

p{
    font-size: 10px;
    text-align: center;
}

.frame{
  
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    justify-content: center;

}
.frame p{
    font-size:10px;
    text-align: left;
    width: 250px;
}
.second{
    

    padding: 20px;
   
    margin-bottom: 10px;
    justify-content: center;

}
.second img{
    width: 350px;
    

}

.third{
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.third img {
    
    width: 150px;
}

.third p{
    font-size:10px;
    text-align: left;
    width: 250px;
    margin-left: 40px;
}

.iphoneright {
    margin-top: 150px;
}

.iphoneleft { 
align-self: flex-start;

}

.logofirstframe {
    width: 450px;
  
}


